* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin: 0;
  background-color: white;
  font-family: "Roboto", Roboto, sans-serif;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframe slide-in-from-bottom {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.flash {
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes cursor-flash {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

#code-editor {
  height: 100%;
  width: 100%;
}

.flashing-cursor {
  animation-name: cursor-flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes progress {
  from {transform: translate(-100%);}
  to {transform: translate(120%);}
}
.progress-bar {
  animation-name: progress;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}