* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Roboto", Roboto, sans-serif;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframe slide-in-from-bottom {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.flash {
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes cursor-flash {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

#code-editor {
  height: 100%;
  width: 100%;
}

.flashing-cursor {
  animation-name: cursor-flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(2160deg);}
}

.spinning {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes progress {
  from {transform: translate(-100%);}
  to {transform: translate(120%);}
}
.progress-bar {
  animation-name: progress;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* --------------------------
  Base
--------------------------- */

svg {
  margin: auto;
  display: block;
}

/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
    height: 0;
    width: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(360deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.4);
  }
}

/* --------------------------
  SVG Styles
--------------------------- */

.badge * {
  transform-origin: 180px 180px;
}

.outer,
.inner,
.inline {
  animation: grow 1s ease-out backwards;
}

.inner {
  animation-delay: .1s;
}

.inline {
  animation-delay: .15s;
}

.star {
  animation: turn 1.1s ease-out .2s backwards;
}

.star circle {
  animation: pulse .5s linear 1.5s;
}

.star circle:nth-of-type(2) {
  animation-delay: 1.6s;
}

.star circle:nth-of-type(3) {
  animation-delay: 1.7s;
}

.star circle:nth-of-type(4) {
  animation-delay: 1.8s;
}

.star circle:nth-of-type(5) {
  animation-delay: 1.9s;
}

.task-list-item-checkbox {
  margin-left: -22px;
  margin-right: 8px;
}

code.lang-js {
  font-size: 14px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-container, #print-container * {
    visibility: visible;
    overflow-y: visible;
  }
  #print-container {
    position: static !important;
    overflow-y: visible !important;
    display: inline !important;
  }
  pre code {
    border: 0;
  }
}
